body {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  background-color: lightgray;
}

.container {
  width: 700px;
  height: 1050px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  overflow-y: auto;
  background-color: white;
}

h1, h2, h3, p {
  font-family: Roboto, Arial;
  margin: 0px;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  margin: 10px 0px;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  word-spacing: 10px;
}

p {
  font-size: 15px;
  text-align: justify;
}

/*Navbar component*/
nav {
  background-color: #5ABFF5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 50px;
  margin-bottom: 40px;
}

.navbar--logo {
  height: 30px;
}

.navbar--text {
  color: white;
  font: arial;
}

/*Trip component*/
.trip--container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 40px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-right: 18px;
}

.trip--picture {
  height: 280px;
  border-radius: 10px;
}

.trip--location-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
}

.trip-location-icon {
  width: 12px;
}